@page "/User/Login"
@using SmartProctor.Shared.Requests
@using SmartProctor.Shared.Responses
@layout LoginLayout
@inject NavigationManager NavManager
@inject HttpClient Http
@inject ModalService Modal

<Form Model="@model"
      OnFinish="OnFinish">
    <Paragraph Class="text-center">User Login</Paragraph>
    <FormItem>
        <Input @bind-Value="@context.UserName" Placeholder="Username/Phone/Email"/>
    </FormItem>
    <FormItem>
        <InputPassword @bind-Value="@context.Password" Placeholder="Password"/>
    </FormItem>
    <FormItem>
        <Checkbox @bind-Value="context.Remember">Remember me</Checkbox>
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Login
        </Button>
        <Button Type="link" OnClick="OnRegister">Register</Button>
    </FormItem>
</Form>

@code {
    private LoginRequestModel model = new LoginRequestModel();

    private void OnRegister()
    {
        NavManager.NavigateTo("/User/Register");
    }

    private async Task OnFinish(EditContext editContext)
    {
        var result = await Http.PostAsJsonAsync("api/user/Login", model);
        var response = await result.Content.ReadFromJsonAsync<BaseResponseModel>();

        if (response.Code != 0)
        {
            Modal.Error(new ConfirmOptions()
            {
                Title = "Login failed",
                Content = response.Message
            });
        }
        else
        {
            Modal.Success(new ConfirmOptions()
            {
                Content = "Login OK"
            });
        }
    }

}