@page "/TestPage"
@using SmartProctor.Client.Pages.Exam
@using BrowserInterop
@using System.Collections.Concurrent
@using BrowserInterop.Extensions
@using _Imports = SmartProctor.Client._Imports
@inject MessageService msg
@inject IJSRuntime JsRuntime
@layout StandardLayout

<div>
    <PageContainer Title="Test page">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Development</BreadcrumbItem>
                <BreadcrumbItem>Test page</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <div class="standardList">
                <Card>
                    @* In development, new components will be tested here, this page
                    will be removed when the project is finished *@
                    <NewCountDown Deadline="@(new DateTime(2021, 04, 27))" OnEnded="OnFinish"/>
                </Card>
            </div>
        </ChildContent>
    </PageContainer>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        var window = await JsRuntime.Window();
        await window.OnBlur(OnOffline).ConfigureAwait(false);
    }

    private async ValueTask OnOffline()
    {
        await msg.Info("Blur").ConfigureAwait(false);
    }

    private async Task OnFinish()
    {
        await msg.Info("Finish");
    }
}