@page "/TestPage"
@using SmartProctor.Client.Pages.Exam
@using BrowserInterop
@using System.Collections.Concurrent
@using System.IO.Pipelines
@using System.Text
@using BrowserInterop.Extensions
@using _Imports = SmartProctor.Client._Imports
@inject MessageService msg
@inject IJSRuntime JsRuntime
@inject HttpClient HttpClient
@layout StandardLayout

<div>
    <PageContainer Title="Test page">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Development</BreadcrumbItem>
                <BreadcrumbItem>Test page</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <div class="standardList">
                <Card>
                    @* In development, new components will be tested here, this page
                    will be removed when the project is finished *@
                    <Paragraph>
                    </Paragraph>
                </Card>
            </div>
        </ChildContent>
    </PageContainer>
</div>
<ChatDrawer/>