@page "/TestPage"
@using SmartProctor.Client.Pages.Exam
@using System.Collections.Concurrent
@inject MessageService msg
@layout StandardLayout

<div>
    <PageContainer Title="Test page">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Development</BreadcrumbItem>
                <BreadcrumbItem>Test page</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <div class="standardList">
                <Card Title="Test Page">
                    <TextArea OnBlur="OnBlur"></TextArea>
                </Card>
            </div>
        </ChildContent>
    </PageContainer>
</div>

@code
{
    private async Task OnBlur()
    {
        await msg.Info("OnBlur");
    }
}