@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang">
        <!--todo: selectLang-->
    </div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <span class="title">SmartProctor</span>
                </a>
            </div>
            <div class="desc">AI Proctoring platform</div>
        </div>
        @Body
    </div>
</div>