@import '~antd/es/style/themes/default.less';

// Style when the timer shows an alert, the
// timer should flash red for a few seconds and 
// then keep red and bold
.timer-warn {
  color: red;
  opacity: 1;
  font-weight: bold;
  animation-name: timerwarn;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

// Animation when the timer shows an alert
@keyframes timerwarn {
  50% {
    opacity: 0;
  }
}