<Dropdown Placement="PlacementType.BottomLeft" OverlayClassName="container" Style="display:inherit;">
    <Overlay>
        <Menu Class="menu">
            <ChildContent>
                <MenuItem Key="center" OnClick="GoToSettings">
                    <Icon Type="user" Theme="outline"></Icon>
                    Account settings
                </MenuItem>
                <MenuItem Key="logout" OnClick="Logout">
                    <Icon Type="logout" Theme="outline"></Icon>
                    Logout
                </MenuItem>
            </ChildContent>
        </Menu>
    </Overlay>
    <ChildContent>
        <span class="action account">
            <Avatar Size="small" Class="avatar" Src="@_avatar"
                    Alt="avatar" Icon="user"></Avatar>
            <span class="name anticon">@_userName</span>
        </span>
    </ChildContent>
</Dropdown>
