@namespace SmartProctor.Client.Pages.Exam

<Space>
    <SpaceItem>
        <Popover Placement="PlacementType.BottomRight" Title="Camera capture" OnVisibleChange="OnCameraVideoVisibleChange">
            <ContentTemplate>
                    <video id="local-camera" autoplay class="taker-video"></video>
            </ContentTemplate>
            <ChildContent>
                <span class="action account">
                    <Icon Type="video-camera" Theme="outline" Style="font-size: 20px; width: 30px;"/>
                </span>
            </ChildContent>
        </Popover>
    </SpaceItem>
    <SpaceItem>
        <Popover Placement="PlacementType.BottomRight" Title="Desktop capture" OnVisibleChange="OnDesktopVideoVisibleChange">
            <ContentTemplate>
                <video id="local-desktop" autoplay class="taker-video"></video>
            </ContentTemplate>
            <ChildContent>
                <span class="action account">
                    <Icon Type="desktop" Theme="outline" Style="font-size: 20px; width: 30px;"/>
                </span>
            </ChildContent>
        </Popover>
    </SpaceItem>
</Space>

@code {

    [Parameter]
    public EventCallback<bool> OnCameraVideoVisibleChange { get; set; }
    
    [Parameter]
    public EventCallback<bool> OnDesktopVideoVisibleChange { get; set; }

}