@namespace SmartProctor.Client.Pages.Exam

<Space>
    <SpaceItem>
        <Popover Placement="PlacementType.BottomRight" OnVisibleChange="OnCameraVideoVisibleChange">
            <ContentTemplate>
                <Spin Spinning="_cameraVideoLoading">
                    <video id="local-camera" autoplay class="proctor-video"></video>
                </Spin>
            </ContentTemplate>
            <ChildContent>
                <span class="action account">
                    <Icon Type="video-camera" Theme="outline" Style="font-size: 20px; width: 30px;"/>
                </span>
            </ChildContent>
        </Popover>
    </SpaceItem>
    <SpaceItem>
        <Popover Placement="PlacementType.BottomRight" OnVisibleChange="OnDesktopVideoVisibleChange">
            <ContentTemplate>
                <video id="local-desktop" autoplay class="proctor-video"></video>
            </ContentTemplate>
            <ChildContent>
                <span class="action account">
                    <Icon Type="desktop" Theme="outline" Style="font-size: 20px; width: 30px;"/>
                </span>
            </ChildContent>
        </Popover>
    </SpaceItem>
</Space>
<TestPrepareModal @ref="@_testPrepareModal" ExamId="@ExamId"
                   OnShareScreen="OnShareScreen" OnFinish="OnPrepareFinish"
                   Visible="@_inPrepare"/>