.logo {
    font-style: italic;
    font-size: 30px;
    color: #ffffff;
    float: left;
}

.site-layout-background {
    background: #fff;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #ffffffff;
}
::-webkit-scrollbar-thumb:vertical{
    background-color: #77777777;
    border-radius:2px;
}