@page "/Exam/Proctor/{examId}"
@inject NavigationManager NavManager
@inject HttpClient Http
@inject ModalService Modal
@inject IJSRuntime JsRuntime

<Header Class="header">
    @if (examDetails != null)
    {
        <div class="logo">@examDetails.Name</div>
    }
    <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" Style="text-align:right">
    </Menu>
</Header>

<Content Style="padding: 0 50px">
    <Breadcrumb Style=" margin: 16px 0">
    </Breadcrumb>
    <Layout Class="site-layout-background" Style="padding: 24px 0; height: 100%;">
        <Content Style="padding:0 24px; min-height: 280px; overflow: auto; margin-bottom: 30px">
            @if (_testTakers != null)
            {
                <AntList Grid="gutter" DataSource="@_testTakers">
                <ListItem >
                    <TestTakerVideoCard TestTakerName="@context"></TestTakerVideoCard>
                </ListItem>
            </AntList>
            }
        </Content>
    </Layout>
</Content>